@media(max-width : 575px){
    body{
        margin: 0;
    }
    h3{
        font-size: 28px;
        text-align: center;
    }
    .row{
        margin: 0;
    }

    .what-is-it{
        text-align: center;   
    }

    .what-is-it-img{
        box-shadow: -10px 10px 0px #d33d8d;
        transform: rotate(-2deg);
    }

    .what-is-it-right{
        margin-top: 50px;
        padding-left: 0px;
    }

    .why-create{
        margin: 0px;
        text-align: center;
    }

    .why-create-img{
        margin-top: 40px;
        box-shadow: 10px 10px 0px #d33d8d;
        transform: rotate(2deg);   
    }

    .why-attend{
        text-align: center;
        margin-top: 100px;
    }

    .why-attend-img {
        box-shadow: -10px 10px 0px #d33d8d;
        transform: rotate(-2deg);
    }

    .why-attend-right{
        padding-left: 0px;
        margin-top: -25px;
    }

    .last_show_img{
        height: auto;
        text-align: center;
    }

    .last_show_text{
        text-align: center;
    }

    .ls-text-sec{
        margin-top: 10px;
    }

    .footer{
        text-align: center !important;
    }

    .footer, .col-xl-3{
        padding-top: 35px;
    }

    .social-icon-footer{
        margin: 0px 15px;
    }

    .form-control{
        max-width: 345px;
        text-align: center; 
    }

    /* About Page */

    .who-we-are{
        margin-top: 150px;
        text-align: center;
        padding-right: 10px;
    }

    .who-we-are-img {
        box-shadow: 10px 10px 0px #d33d8d;
        transform: rotate(2deg);
        position: relative;
    }
    
    .who-we-are-right{
        margin-top: 40px;
    }

    .meet_team{
        margin-top: 90px;
    }

    .meet_team_img{
        height: 100%;
        text-align: center;
        margin-top: 0px;
    }

    .our-mission{
        margin-top: 80px;
        text-align: center;
    }

    .our-mission-img {
        box-shadow: -10px 10px 0px #d33d8d;
        transform: rotate(-2deg);
    }

    .our-mission-right{
        padding: 0px;
        margin-top: 70px;
        padding: 0px 10px;
    }

    .core_values{
        margin: 70px 0px;
    }

    .core_values h3{
        margin: 0px;
    }

    .our-adv{
        text-align: center;
        margin-top: -40px;
    }

    .our-adv-img {
        box-shadow: 10px 10px 0px #d33d8d;
        transform: rotate(2deg);
        position: relative;
    }

    /* London 23' */

    .abt-lon-23{
        margin-top: 200px;
        text-align: center;
    }

    .abt-lon-23-img{
        margin-top: 30px;
        box-shadow: 10px 10px 0px #d33d8d;
        transform: rotate(2deg);
        position: relative;
        
    }

    .our-sponsors{
        margin-top: 100px;
        text-align: center;
        margin-bottom: 0px;
    }

    .our-exhibitors{
        margin-top: 60px;
        text-align: center;
    }

    .seminar{
        text-align: center;
        margin-bottom: 0px;
    }

    .seminar-img{
        margin-top: 40px;
    }

    .our-partner{
        text-align: center;
        margin-top: 70px;
    }

    /* Blog */

    .blog{
        margin-top: 160px;
    }

    .blog-1{
        padding: 10px;
    }

    .blog_img{
        margin-top: 20px;
        /* width: auto; */
        height: auto;
    }

    .blog-content{
        margin-top: 20px;
        text-align: center;
    }

    .blog-content p{
        text-align: justify;
    }

    .blog-content h3{
        margin-top: 10px;
    }

    .read_more_btn{
        margin-top: 20px;
    }

    .blog_social_icon{
        padding: 14px;
    }

    /* Contact */

    .contact{
        margin-top: 200px;
        text-align: center;
    }

    .social-icon{
        text-align: center;
    }

    .get-in-touch-sec{
        margin-top: 50px;
    }

    .contact_page_form{
        margin-top: 30px;
    }

    .form-control_contact{
        max-width: 345px;
        text-align: center; 
    }
}